[submodule "packages/superchain-async/lib/forge-std"]
	path = packages/superchain-async/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/superchain-relay/lib/forge-std"]
	path = packages/superchain-relay/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
